@import "tailwindcss";
@import "components/components.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fef4e7; /* honey bronze */
	--color-primary-100: #fce9cf;
	--color-primary-200: #f9d49f;
	--color-primary-300: #f7be6e;
	--color-primary-400: #f4a83e;
	--color-primary: #f1920e;
	--color-primary-600: #c1750b;
	--color-primary-700: #915808;
	--color-primary-800: #603b06;
	--color-primary-900: #301d03;
	--color-primary-950: #221402;

	--color-accent-50: #fee7e9; /* hot fuchsia */
	--color-accent-100: #fccfd3;
	--color-accent-200: #f99fa6;
	--color-accent-300: #f76e7a;
	--color-accent-400: #f43e4d;
	--color-accent: #f10e21;
	--color-accent-600: #c10b1a;
	--color-accent-700: #910814;
	--color-accent-800: #60060d;
	--color-accent-900: #300307;
	--color-accent-950: #220205;

	--color-cream: #fef4e7; /* simple cream */
	--color-cream-100: #fce9cf;
	--color-cream-200: #f9d49f;
	--color-cream-300: #f7be6e;
	--color-cream-400: #f4a83e;
	--color-cream-500: #f1920e;
	--color-cream-600: #c1750b;
	--color-cream-700: #915808;
	--color-cream-800: #603b06;
	--color-cream-900: #301d03;
	--color-cream-950: #221402;

	--color-champagne-mist-50: #fef4e7;
	--color-champagne-mist-100: #fce9cf;
	--color-champagne-mist-200: #fad49e;
	--color-champagne-mist-300: #f7be6e;
	--color-champagne-mist-400: #f5a83d;
	--color-champagne-mist-500: #f2930d;
	--color-champagne-mist-600: #c2750a;
	--color-champagne-mist-700: #915808;
	--color-champagne-mist-800: #613b05;
	--color-champagne-mist-900: #301d03;
	--color-champagne-mist-950: #221502;

	--color-white: #fffdfa;
	--color-white-100: #fceacf;
	--color-white-200: #fad59e;
	--color-white-300: #f7c06e;
	--color-white-400: #f5ab3d;
	--color-white-500: #f2960d;
	--color-white-600: #c2780a;
	--color-white-700: #915a08;
	--color-white-800: #613c05;
	--color-white-900: #301e03;
	--color-white-950: #221502;
}

body {
	@apply bg-white text-black dark:bg-black dark:text-white;

	font-family:
		Atkinson Hyperlegible,
		sans-serif;
}

ul {
	@apply list-disc pl-4;
}

ol {
	@apply list-decimal pl-4;
}

h1 {
	@apply text-4xl font-extrabold tracking-tight lg:text-5xl py-4;
	font-family: Domine, serif;
}

h2 {
	@apply text-3xl font-semibold tracking-tight py-4;
	font-family: Domine, serif;
}

h3 {
	@apply text-2xl font-semibold tracking-tight py-4;
	font-family: Domine, serif;
}

h4 {
	@apply text-xl font-semibold tracking-tight;
	font-family: Domine, serif;
}

p {
	@apply leading-[130%] [&:not(:first-child)]:mt-6;
}

a {
	@apply underline-offset-4 text-black dark:text-white;
}

blockquote {
	@apply mt-6 border-l-2 border-gray-200 pl-6 italic dark:border-gray-700;
}

code {
	font-family: "JetBrains Mono", monospace;
	word-break: keep-all;
}

code * {
	font-family: "JetBrains Mono", monospace;
}

.underlinespecial {
	position: relative;
	background-color: var(--bg-color);
}

.underlinespecial::after {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	content: "";
	display: block;
	width: 100%;
	height: var(--line-width);
	border-radius: 1000px;
	background: var(--line-color);
	position: absolute;
	bottom: -3px;
	left: 0;
}

textarea {
	--tw-ring-shadow: 0 0 #000;
}

.animate-bigbounce {
	animation: bigbounce 1s infinite;
}

.animate-after-bigbounce::after {
	animation: bigbounce 1s infinite;
}

@keyframes bigbounce {
	0%,
	100% {
		transform: translateY(-40%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.header {
	padding-top: 6px;
}

th[align="center"] {
	text-align: center;
}

th[align="right"] {
	text-align: right;
}

.skew-hover {
	@apply transition-all hover:rotate-3 hover:scale-105;
}

.skew-hover-left {
	@apply transition-all hover:-rotate-3 hover:scale-105;
}

.last-update {
	display: none;
}
